<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bitcoin Data</h1>
    <div>
        <button onclick="showRealtimeGraph()">Show Real-Time Graph</button>
        <button onclick="showHistoricalGraph()">Show Historical Graph</button>
    </div>
    <div id="graph-container">
        <img id="realtime-graph" src="{{ url_for('static', filename='img/bitcoin_realtime_plot.png') }}" alt="Real-Time Graph" style="display: none;">
        <img id="historical-graph" src="{{ url_for('static', filename='img/bitcoin_historical_plot.png') }}" alt="Historical Graph" style="display: none;">
    </div>
    <script>
        function showRealtimeGraph() {
            document.getElementById('realtime-graph').style.display = 'block';
            document.getElementById('historical-graph').style.display = 'none';
        }

        function showHistoricalGraph() {
            document.getElementById('realtime-graph').style.display = 'none';
            document.getElementById('historical-graph').style.display = 'block';
        }
    </script>
</body>
</html>