<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>Welcome to Crypto Data</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bitcoin">Bitcoin Data</a></li>
        <li><a href="/dogecoin">Dogecoin Data</a></li>
        <li><a href="/ethereum">Ethereum Data</a></li>
        <li><a href="/crypto-analysis">Crypto Analysis</a></li>
        <li><a href="/prices">Real-time Prices</a></li>
    </ul>
    <img src="{{ url_for('static', filename='img/index_plot.png') }}" alt="Image">
</body>
</html>